.vs

VehicleBooking.Customer.API/obj
VehicleBooking.Customer.API/bin
VehicleBooking.Customer.API/Migrations


VehicleBooking.Vehicle.API/obj
VehicleBooking.Vehicle.API/bin
VehicleBooking.Vehicle.API/Migrations

VehicleBooking.Tests/obj
VehicleBooking.Tests/bin


VehicleBooking.Specs/obj
VehicleBooking.Specs/bin


VehicleBooking.ApiGateway/obj
VehicleBooking.ApiGateway/bin
